<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
	<hibernate-configuration>
     <session-factory>
      
    
   <property name="hibernate.hbm2ddl.auto">update</property>
  			  <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>                                                     
  			  
			    <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
			    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernate_6772</property>
			    <property name="hibernate.connection.username">root</property>
			    <property name="hibernate.connection.password">12345</property>
			    <property name="hibernate.show_sql">true</property>
			    <property name="hibernate.format_sql">true</property>
			    <!-- <mapping class= "com.Entity.Student" />
                  <mapping  class="mapping.Person" />
                 <mapping  class="mapping.Account" />
         <mapping  class= "manytomany.Employee" />
         <mapping class= "manytomany.Project" />
     <mapping class= "criteria.Employee111" /> -->
     <mapping class= "np1.Class1" />
     <mapping class= "np1.Student1" />
     
     
     </session-factory>
</hibernate-configuration>

	