<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>add new patient</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
    <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
</head>
<body>
<div align="center">
    <h1>Update Patient Details </h1>
    <br />
     <div class="col-sm-4">
  <!--   <form action="@{/saveUpdatePatient/{patientId} (patientId=${patient.patientId})}" th:object = "${patient}" method="post">  -->
   <form action="@{/saveUpdatePatient2" th:object = "${patient}" method="post">

      
 		<div alight="left">
            <tr>
                <label class="form-label" >Patient Name</label>
                <td>
	                <input type="hidden" th:field="*{patientId}" />
	                <input type="text" th:field="*{patientName}" class="form-control" placeholder="Patient Name" />
                </td>
            </tr>
         </div>   
            
          	<div alight="left">
          
            <tr>
                 <label class="form-label" >Patient Address</label>
                <td><input type="text" th:field="*{patientAddress}" class="form-control" placeholder="Address" /></td>
            </tr>
            </div> 
            <div alight="left">
                 <tr>
                 <label class="form-label" >Patient Contact</label>
                <td><input type="text" th:field="*{patientContact}" class="form-control" placeholder="Contact" /></td>
            </tr>
            </div> 
            
            <div alight="left">
                 <tr>
                 <label class="form-label" >Patient Email</label>
                <td><input type="email" th:field="*{patientEmail}" class="form-control" placeholder="Email" /></td>
            </tr>
            </div> 
            
             <div alight="left">
                 <tr>
                 <label class="form-label" >Patient Image</label>
                <td><input type="file" th:field="*{patientImage}" class="form-control" placeholder="Image" /></td>
            </tr>
            </div> 
			<br>
            <tr>
            <td colspan="2"><button type="submit" class="btn btn-info">Save</button> </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>     