
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="doctor/doctor_dashboard::Layout(~{::section})" >
<!-- <html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="patient/patient_dashboard::Layout(~{::section})" > -->
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<section>
	<h1 align="center">Patient List</h1>
		<div class="container">
		
		
			<table class="table" style = "margin-left: 15%">
				<thead class="thead-dark" >
					<tr>
						<th scope="col">Patient Id</th>
						<th scope="col">Patient Name</th>
						<th scope="col">Patient Address</th>
						<th scope="col">Patient Email</th>
						<th scope="col">Patient Contact</th>
						<th scope="col">Patient Image</th>
					
					</tr>
				</thead>		
			<tbody>
				<tr th:each="patient:${patientObj}">
					<td th:text="${patient.patientId}"></td>
					<td th:text="${patient.patientName}"></td>
			        <td th:text="${patient.patientAddress}"></td>
			        <td th:text="${patient.patientEmail}"></td>
			        <td th:text="${patient.patientContact}"></td>
			        <td th:text="${patient.patientImage}"></td>

			    
<!-- <td><button class = "btn btn-primary"><a th:href = "@{/updatePatient{patientId}(patientId=${patient.patientId})}">Update</a></button>

<button class = "btn btn-danger"><a th:href = "@{/patientlist/{patientId}(patientId=${patient.patientId})}">Delete</a></button>
 -->
			    
			    
			    
			    
			        
			       
			   </tr>  
	      </tbody>
	</table>
	
	
	<nav aria-label="Page navigation example">
		<ul class="pagination" style="margin-left: 40%">
			<li class="page-item"><a class="page-link" href="#">Previous</a></li>
			<li class="page-item"><a class="page-link" href="#">1</a></li>
			<li class="page-item"><a class="page-link" href="#">2</a></li>
			<li class="page-item"><a class="page-link" href="#">3</a></li>
			<li class="page-item"><a class="page-link" href="#">4</a></li>
			<li class="page-item"><a class="page-link" href="#">5</a></li>
			
	   </ul>
	
</nav>
		
		
		</div>
</section>
</body>
</html>